.file-input {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    min-height: 3.6rem;
    border: 1px solid #000000;
    padding: 0.6rem 1.8rem;
    gap: 1rem;

    @media (min-width: 992px) {
        &:hover {
            & svg {
                color: $mainColor;
            }
        }
    }

    & img, & svg {
        flex: 0 0 auto;
        height: 2.2rem;
        color: $textColorSecondary;
        transition: all .3s ease;
        pointer-events: none;
    }

    &.highlight {
        & .file-input__text {
            border: 1px dashed $mainColor;
        }
    }

    & input {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 4;
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: pointer;
    }
    &__text {
        pointer-events: none;
        cursor: pointer;
        color: $textColorSecondary;
        font-size: 1.8rem;
        line-height: 1.22em;
    }

    & .wpcf7-form-control-wrap {
        position: static;
    }
}
