.carousel {

    position: relative;

    & .swiper {
        margin: -1rem;
        padding: 1rem;

        @media (max-width: $md3+px) {
            overflow: visible;
        }
    }

    & .swiper-wrapper {

    }

    & .swiper-slide {
        height: auto;
    }

    & .slider-button {
        @media (max-width: $md3+px) {
            display: none;
        }
        &--prev {
            
            
                transform: translateX(calc(-100% - 2rem)) translateY(-50%);
        }
        &--next {
            
            
                transform: translateX(calc(100% + 2rem)) translateY(-50%);
        }
    }

    & .swiper-pagination {
        padding-top: 3rem;
    }
}
