.card {
    display: block;
    background-color: #fff;
    box-shadow: $shadow;
    height: 100%;
    border: none;
    border-radius: 0;
    color: #000 !important;

    @media (min-width: 992px) {
        &:hover {
            & .card__img img {
                transform: scale(1.06);
            }
        }
    }

    &__img {
        padding-bottom: 58.88%;
        height: 0;
        overflow: hidden;

        & img {
            transition: all 1s ease;
        }
    }

    &__body {
        padding: 1.8rem 1.8rem 3rem;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        font-weight: 600;
        font-size: 2.7rem;
        line-height: 1.22em;
        color: #04244d;
        margin-bottom: 2rem;
        position: relative;
        z-index: 2;

        &:before {
            position: absolute;
            content: '';
            z-index: -1;
            left: 50%;
            bottom: 0;
            width: 100%;
            min-width: 20rem;
            height: 1.5rem;
            background-color:  rgba(174, 0, 0, 0.5);
            transform: translateX(-50%);
        }
    }

    &__text {
        & > *:last-child {
            margin-bottom: 0;
        }
    }
}
