.about-section {
    &__row {
        &:not(:last-child) {
            margin-bottom: 6rem;

            @media (max-width: $md3+px) {
                margin-bottom: 4rem;
            }
        }
    }
}

.text-section {
    &__title {
    }

    &__text {
        margin: 0 auto;
        max-width: 104.8rem;
        & > *:last-child {
            margin-bottom: 0;
        }
    }
}

.gallery {
    & .swiper-wrapper {
        margin-bottom: 2rem;
    }

    & .slider-button {
        color: #fff;

        &--prev {
            left: 0.8rem;
        }
        &--next {
            right: 0.8rem;
        }
    }

    &__images-wrap {
        position: relative;
        height: 0;
        padding-bottom: 33.5%;

        @media (max-width: $md3+px) {
            padding-bottom: 70%;
        }
    }

    &__img-1 {
        position: absolute;
        top: 0;
        left: 0;
        width: calc(62.2%);
        height: 100%;
        clip-path: polygon(0 0, 100% 0, 59.45% 100%, 0% 100%);

        & .gallery__label {
            right: 42.45%;
        }
    }

    &__label {
        position: absolute;
        bottom: 0.5rem;
        font-weight: 600;
        font-size: 4rem;
        line-height: 1.225em;
        z-index: 3;
        color: #fff;

        @media (max-width: $md3+px) {
            font-size: 2rem;
        }
    }

    &__img-2 {
        position: absolute;
        top: 0;
        right: 0;
        width: calc(62.2%);
        height: 100%;

        clip-path: polygon(40.55% 0, 100% 0, 100% 100%, 0 100%);

        & .gallery__label {
            left: 6.45%;
        }
    }
}

.swiper-pagination {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.4rem;
    bottom: 0 !important;

    @media (max-width: $md3+px) {
        gap: 1.8rem;
    }

    & .swiper-pagination-bullet {
        margin: 0;
        flex: 1 1 auto;
        max-width: 5.6rem;
        opacity: 1;
        background-color: #C4C4C4;
        border-radius: 0;
        height: 0.4rem;

        &.swiper-pagination-bullet-active {
            background-color: #04244D;
        }
    }

    &.swiper-pagination-lock {
        display: none;
    }
}